
.CheckList {
  @extend %list-unstyled;
  @extend %Form-control-bg;
  display:          flex;
  flex-wrap:        wrap;
  margin-bottom:    1em;
  padding:          1em;

  border-radius:    4px;
  border:           1px solid $color-gray-lighter;
  background-color: $color-gray-lighter;

  > li {
    width:     100%;
    max-width: calc-em(200px);
  }

  label {
    display: inline-block;
    padding: .5em 0;
  }

}