@import "../../../node_modules/normalize.css/normalize";
@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@import "utilities/utilities";
@import "base/base";
@import "components/components";

body {
  padding: 3em 0;
}

.max-width-620 {
  max-width: 620px;
}

.max-width-800 {
  max-width: 800px;
}

.center {
  margin-right: auto;
  margin-left:  auto;
}